# Kích hoạt hiển thị lỗi
RewriteEngine On

# Đảm bảo rằng các tệp .htaccess có thể được đọc
<Files .htaccess>
    Order allow,deny
    Allow from all
</Files>

# Đảm bảo quyền truy cập vào thư mục và tập tin
<Directory />   
    Options FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>