{%- assign url = '/' | prepend: site.baseurl | prepend: site.url -%}{%- assign title = site.title -%}{%- assign description = site.description -%}

{%- if page.url != '/' -%}{%- if page.url -%}{%- assign url = page.url | prepend: site.baseurl | prepend: site.url -%}{%- endif -%}{%- if page.title -%}{%- assign title = page.title | append: ' | ' | append: site.title  -%}{%- endif -%}{%- if page.description -%}{%- assign description = page.description -%}{%- endif -%}{%- endif -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{{ title | xml_escape }}" name="title">
    <meta content="{{ description | xml_escape }}" name="description">
    <meta content="{{ site.data.bio.basics.picture }}" name="image">
    <meta content="website" property="og:type">
    <meta content="{{ site.title | xml_escape }}" property="og:site_name">
    <meta content="{{ url }}" property="og:url">
    <meta content="{{ title | xml_escape }}" property="og:title">
    <meta content="{{ description | xml_escape }}" property="og:description">
    <meta content="{{ site.data.bio.basics.picture }}" property="og:image">
    <link href="{{ '/favicon.ico' | prepend: site.baseurl }}" rel="shortcut icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <link href="{{ site.baseurl}}/css/techfolio-theme/{{ site.techfolio-theme}}" rel="stylesheet">
    <link href="{{ site.baseurl}}/css/rouge/{{ site.rouge-theme}}" rel="stylesheet" type="text/css">
	  <!-- Load MathJax if 'mathjax: true' is found in your _config.yml. -->
    {% if site.mathjax %}
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML"
            type="text/javascript">
    </script>
    {% endif %}

    <title>{{ title }}</title>
  </head>
  <body>
  {{ content }}
  <script crossorigin="anonymous" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
